<div class="row">
    <div class="col-md-8">

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Name: {{dataElement.name}} </div>
            <div class="panel-body">
                Version: <span class="label label-primary">{{dataElement.catalogueVersion}}</span>
            </div>
            <ul class="list-group">
                <li class="list-group-item">Unique Catalogue Id: {{dataElement.catalogueId}}</li>
                <li class="list-group-item">Model: <a ui-sref="dataElementList({ id: dataElement.modelId })">{{dataElement.modelName}}</a></li>
                <li class="list-group-item">Description: {{dataElement.description}}</li>
                <li class="list-group-item">Definition: {{dataElement.definition}}</li>
            </ul>
        </div>
     </div>
</div>
