<div>
    {{resourceURLs}}
    {{columns}}

    <div class="panel-body">
        <div >
            <p><strong>Page:</strong> {{tableParams.page()}}
                <strong> Count per page:</strong> {{tableParams.count()}}
            <table ng-table="tableParams" class="table ngTable"  show-sort="true">
                <tr ng-repeat="item in $data">
                    <td data-title="'Name'" sortable="name" filter="{ 'name': 'text' }" sortable="'name'"><a href="show/{{item.id}}"> {{item.name}}</a></td>
                    <td data-title="'Description'" sortable="description" filter="{ 'description': 'text' }" sortable="'description'"><a href="show/{{item.id}}">{{item.description}}</a></td>
                    <td data-title="'Version'" sortable="catalogueVersion" filter="{ 'catalogueVersion': 'text' }" sortable="'catalogueVersion'"><a href="show/{{item.id}}">{{item.catalogueVersion}}</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
